* {
    -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: #0F0F0F;
  margin-bottom: 90px;
  margin-top: 90px;
  
}
.header {
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  border-width: 1;
  border-color: rgba(50, 50, 50, 0.4);
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.logo {
  width: 30vw;
}
.navbar {
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  border-top: solid;
  border-color: rgba(50, 50, 50, 0.4);
  z-index: 1000;

}
.icon {
  color: white;
}
.thumbnail {
  width: 95vw;
  margin-top: 20px;
  border-radius: 15px;
  
}
.title {
  color: white;
  font-size: 13px;
  width: 70vw;
  overflow: hidden;
  white-space: normal;
  font-family: google sans flex;
  line-height: 20px;
  
}
.video {
  width: 95vw;
  margin: 0 auto;
  position: relative;
  
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 25px;
}
.details {
  width: 95vw;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.info {
  font-size: 10px;
  margin-top: 5px;
  color: #AAAAAA;
}
.floating {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  border: none;
  border-width: 1px;
  border-color: rgba(50, 50, 50, 0.4);
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(8px);
  position: fixed;
  bottom: 15vh;
  right: 3vw;
  color: white;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
  z-index: 999;
  
  
}
.floating:active {
  animation-name: glow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: white;
  color: black;
  z-index: 1000;
}
@keyframes glow {
  100% {box-shadow: 40px 0 100px white,-40px 0 100px white}
}
.time {
  position: absolute;
  bottom: 4px;   
  right: 8px;
  z-index: 100;
  color: white;
  background: rgba(0,0,0,0.7);
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  font-size: 10px;
  font-family: google sans flex;
}